body {
    background-color: white;
    font-family: "Noto Sans JP",sans-serif;
    margin: 0px;
    font-size: 16px;
}

header {
    padding-bottom: 150px;
    background-color: #FFC700;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
}

.index-main-h2 {
    position: relative;
    display: inline-block;
    padding: 0 55px;
    font-size: 2em;
    text-align: center;
    margin-bottom: 0px;
}

.index-main-h2:before, .index-main-h2:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 2px;
    background-color: black;
  }
  
  .index-main-h2:before {
    left:0;
  }
  .index-main-h2:after {
    right: 0;
  }

hr {
    margin: 50px 0;
}

.project-link a {
    border-radius: 4px;
}

.member img {
    border-radius: 8px;
}

.member .fa-youtube {
    color: #c4302b;
    font-size: 1.2em;
}

.member .movie-list {
    text-align: right;
    font-size: 0.9em;
}

.nav-top {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0px;
    letter-spacing: .1em;
    float: left;
    margin-left: 30px;
}

.nav-top a {
    text-decoration: none;
    padding-top: 40px;
    display: block;
}

.nav-list {
    list-style-type: none;
    float: right;
    font-weight: bold;
}

.nav-list-items {
    display: inline-block;
    float: left;
    margin-right: 50px;
    font-size: 1.2em;
    margin-top: 30px;
}

.nav-list-items:hover {
	cursor: pointer;
	transform: scale(1.1);
}


.nav-list a{
    text-decoration: none;
}

h4 {
    font-size: 1.2em;
}

a {
    color: black;
    text-decoration-thickness: 2px;
}

.top {
    margin: 0 100px;
    float: none;
}

.top-logo {
    margin: 100px 5% 100px 10%;
    font-size: 7em;
    letter-spacing: .2em;
    font-weight: bold;
}

.top-text {
    margin-top: 100px;
    font-weight: bold;
    line-height: 2.5em;
    font-size: 1.8em;
}

.about {
    margin: 0 300px;
    float: none;
}

.about-text {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    line-height: 2.5em;
    font-size: 1.8em;
}

.top-links{
    text-align: center;
    margin-bottom: 50px;

}

.top-links a{
    font-size: 3em;
    margin-right: 50px;

}

.right-link {
    margin-right: 0px;
}

.project, .block1, .block3, .block5 {
    background-color: white;
    padding: 20px 20%;
}

.block100, .block300 {
    background-color: white;
    padding: 10px 15% 10px 15%;
    text-align: center;
}

.block200 {
    padding: 10px 15% 10px 15%;
    background-color: #FFC700;
}

.top-item {
    margin-top: 40px;
}

.top-item a{
    text-decoration: none;
    font-size: 18px;
}

.top-item img{
    border-radius: 10px;
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}



.contact, .heading, .block2, .block4, .block6 {
    padding: 20px 20%;
}


.main h3 {
    font-size: 2.5em;
    letter-spacing: .2em;
    margin-top: 30px;
}

.main h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project-text {
    line-height: 1.7em;
    letter-spacing: .1em;
}

.project-link, .class-link {
    text-align: right;
}

.project-link a, .class-link a {
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    color: black;
    border: solid #FFC700;
    padding: 10px 5px;
}

.project-link a, .class-link a:hover {
    cursor: pointer;
    color: white;
    background-color: #FFC700;
}




.form-area {
    text-align: center;
}

.heading {
    font-weight: bold;
    font-size: 1.4em;
    background-color: white;;
}

.heading  h2{
    font-size: 3em;
    letter-spacing: .4em;
    font-weight: bold;
    display: block;
    text-align: center;
}

.heading p {
    line-height: 1.8em;
}

.page-top {
    letter-spacing: .4em;
    font-weight: bold;
    display: block;
    background-color: white;
    margin: 20px 0 0;
}

.page-top h1 {
    font-size: 3em;
    text-align: center;
    margin: 40px 0px 0px;
}

li {
    margin-bottom: 5px;
}

.content h2 {
    font-size: 2em;
    margin-bottom: -10px;
}

.content h3 {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: -10px;
}

.content h4 {
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 5px;
}

.member h3 {
    font-size: 3em;
    letter-spacing: .2em;
    margin-top: 30px;
}

.member h4 {
    letter-spacing: .1em;
    font-size: 1.4em;
}

.heading-links {
    margin-bottom: 50px;
    text-align: center;
}

.heading-links a {
    display: inline-block;
    margin-right: 15px;
    text-decoration-thickness: 1px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.member h4 a {
    display: inline-block;
    margin-right: 5px;
    font-size: .8em;
}

.degree {
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 0px;
    margin-bottom: 5px;
}



.foot-text {
    margin-top: 50px;
}

input {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.show-button
 {
     text-decoration: underline;
     padding: 4px;
     letter-spacing: .1em;
     font-size: 1em;
     margin-top: 5px;
 }


 .top-item {
     float: center;
     text-align: center;
     font-weight: bold;
 }

.works-img {
    width: 200px;
}

 .top-item p {
     margin-top: 0px;
 }

 .school-img {
     margin-top: 30px;
     text-align: center;
 }

.tweet-area {
    text-align: center;
}



@media screen and (max-width: 767px) {
    .top-logo {
        font-size: 2.5em;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .top {
        margin: 0 15px;
    }

    .project, .block1, .block3, .block5 {
        background-color: white;
        padding: 20px 15px;
    }
    
    .contact, .heading, .block2, .block4, .block6 {
        padding: 20px 15px;
    }

    .from-pc {
        display: none;
    }

    .heading h2 {
        font-size: 1.2em;
        letter-spacing: .1em;
    }

    .heading p {
        font-size: 0.7em;
        padding: 0px 20px;
    }

    .page-top {
        font-size: 0.7em;
    }

     .nav-top {
         float: none;
         margin-bottom: -40px;
         padding-left: 0px !important;
     }

     .nav-list {
         float: none;
         padding-left: 0;
     }

     header {
         text-align: center;
         margin-top: -10px;
         margin-bottom: -100px;
         padding-bottom: 100px;
     }

     .nav-list-items {
        margin-right: 10px;
        font-size: 0.9em;
        margin-top: 40px;
        float: none;
        margin-right: 20px;
    }

    .list-img{
        height: 40px;
    }

    .block100 {
        padding: 10px;
    }

    .page-top h1 {
        padding-top: 60px;
        font-size: 4em;
    }
}